{% extends 'admin/index.html' %}
{% load static %}
{% block content %}

<section class="section">
    <div class="card recent-sales overflow-auto">

        <div class="filter">
          <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
            <li class="dropdown-header text-start">
              <h6>Filter</h6>
            </li>

            <li><a class="dropdown-item" href="#">Today</a></li>
            <li><a class="dropdown-item" href="#">This Month</a></li>
            <li><a class="dropdown-item" href="#">This Year</a></li>
          </ul>
        </div>

        <div class="card-body">
          <h5 class="card-title">Recent Templates <span>| Today</span></h5>

          <table class="table table-borderless datatable">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Categorie</th>
                <th scope="col">Date/Time</th>
                <th scope="col">Tag</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
                {% for categorie in categories %}
                <tr>
                    <th scope="row"><a href="#">#2457</a></th>
                    <td><a href="#" class="text-primary">{{categorie.categorie_name}}</a></td>
                    <td>{{categorie.publish_date}}/ {{categorie.time}}</td>
                    <td>{{categorie.img_alttag}}</td>
                    <td>
                        {% if categorie.status == '1' %}
                            <span class="badge text-success">Published</span>
                        {% elif categorie.status == '2' %}
                            <span class="badge text-warning">Scheduled</span>
                        {% else %}
                        <span class="badge text-danger">Hidden</span>
                        {% endif %}
                    </td> 
                </tr>
                {% endfor %}
              
            </tbody>
          </table>

        </div>

      </div>
</section>


{% endblock%}