{% extends 'admin/index.html' %}
{% load static %}
{% block content %}


<style>
    select
    {
        width: 100%;
    }
    .bi-star-fill
    {
        color: #f6de0a;
        font-size: 1rem;
    }
   
    .template .section__form
    {
        padding: 2rem 0.05rem;
    }
    .template .form__head
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .form__head h2{
        font-size: 2rem;
        font-weight: 700;
    }
    .form__head button{
        padding: 0.40rem 4rem;
        background-color: rgb(134, 46, 156);
        color: #ffff;
        font-weight: 700;
        border-radius:5px;
        font-size: 0.90rem;
        letter-spacing: 0.06rem;
        border: none;
        outline:none;
    }
    .input__section
    {
        margin-top: 1.5rem;
    }
    .input__section .card
    {
        padding: 1.5rem 1rem;
    }
    .card__head h5{
        font-size: 1rem;
        font-weight: 700;
        letter-spacing: 0.06rem;
    }
    
    .input__group
    {
        margin-top: 1rem;
    }
    .input__group label
    {
        margin-bottom: 0.40rem;
        font-weight:600;
        font-size: 0.88rem;
    }
     .input__group select
    {
        padding: 0.50rem;
        font-size: 0.80rem;
        border: 1px solid #ecebeb;
    }
    .video__Box
    {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 56.25%; /* 16:9 aspect ratio */
        border: 1px solid #ecebeb;
    }
    #video_display
    {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
  
    .input__group select:focus
    {
        border: 1px solid #bad2df;
        outline:1px solid #bad2df ;
    }
    .input__group input::placeholder
    {
        font-size: 0.80rem;
    }
    
    @media (max-width:575px)
    {
        .form__head
        {
            flex-direction: column;
            justify-content: center;
        }
        .form__head h2
        {
            font-size: 1.8rem;
            
        }
        .form__head button{
            width: 100%;
            margin-top: 0.70rem;
        }
    }
    .template__head
    {
        margin-bottom: 1rem;
    }
    .template__head h2
    {
        font-size: 1.8rem;
        font-weight: 600;
    }
</style>


<section class="template section">
    <div class="container">
        <form class="section__form" >
            <div class="form__head">
                <h2>Template Pick</h2>
               
            </div>
            <div class="input__section">
                <div class="card">
                    <div class="card__head">
                        <h5>Pick your Categorie </h5>
                    </div>
                    <div class="input__group">
                    
                        <select  name="slect_categori" id="Categori_Select">
    
                            <option value="0">----/---</option>
                            {% for categori in categories %}
                            <option value="{{categori.id}}">{{categori.categorie_name}}</option>
                            {% endfor %}
    
                        </select>
                        
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

<!-- ==============Template List=========-->
<section>
    <div class="container">
        <div class="template__head">
            <h2>Templates </h2>
        </div>
        <div class="template__list">
            {% for template in templates %}
            <div class="card mb-3 mt-2 ">
                <div class="row g-0">
                  <div class="col-md-4">
                    {% if template.template_image %}
                    <img src="{{template.template_image.url}}" class="img-fluid rounded-start" alt="{{template.template_img_alttag}}">
                    {% endif %}
                  </div>
                  
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">{{template.template_name}}</h5>
                      <p class="card-text">{{template.template_discription}}</p>
                      <p class="card-text">{{template.template_publish_date}}</p>
                      <p class="card-text">Price : Rs {{template.template_price}} /-</p>
                      <p class="card-text">
                        {% if template.template_rating == '5' %}
                        <span>
                             <i class="bi bi-star-fill"></i>
                             <i class="bi bi-star-fill"></i>
                             <i class="bi bi-star-fill"></i>
                             <i class="bi bi-star-fill"></i>
                             <i class="bi bi-star-fill"></i>
                        </span>
                        {% elif template.template_rating == '4' %}
                        <span>
                             <i class="bi bi-star-fill"></i>
                             <i class="bi bi-star-fill"></i>
                             <i class="bi bi-star-fill"></i>
                             <i class="bi bi-star-fill"></i>
                            
                        </span>
                        {% elif template.template_rating == '3' %}
                        <span>
                             <i class="bi bi-star-fill"></i>
                             <i class="bi bi-star-fill"></i>
                             <i class="bi bi-star-fill"></i>
                            
                            
                        </span>
                        {% elif template.template_rating == '2' %}
                        <span>
                             <i class="bi bi-star-fill"></i>
                             <i class="bi bi-star-fill"></i>
                            
                        </span>
                        {% elif template.template_rating == '1' %}
                        <span>
                             <i class="bi bi-star-fill"></i>
                            
                        </span>
                        {% endif %}
                        </p>
                    </div>
                  </div>
                  <div class="col-md-12 video__Box">
                    {% if template.video_file %}
                   
                        <video src="{{template.video_file.url}}" id="video_display" controls></video>
                    
                    {% endif %}
                  </div>
                </div>
            </div>
            <hr>
            {% endfor %}
            
        </div>
    </div>
</section>

{% endblock %}