{% extends 'base.html' %}
{% load static %}
{% block content %}


 
<!--====================ABOUT  SECTION ====================-->
<section class="about_section section" >
    <div class="about__container container ">
        <div class="about__top grid">
            <div class="about__leftBox">
                <h1>About Us</h1>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and 
                    typesetting industry. Lorem Ipsum has been the industry's 
                    standard dummy text ever since the 1500s, when an unknown 
                    printer took a galley of type and scrambled it to make a 
                    type specimen book. It has survived not only five centuries, 
                    but also the leap into electronic typesetting, remaining 
                    essentially unchanged. It was popularised in the 1960s with 
                    
                </p>
            </div>
            <div class="about__rightBox flex">
                <div class="about__rightBox_content">
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and 
                    typesetting industry. Lorem Ipsum has been the industry's 
                    standard dummy text ever since the 1500s, when an unknown 
                    printer took a galley of type and scrambled it to make a 
                    type specimen book. It has survived not only five centuries, 
                    but also the leap into electronic typesetting, remaining 
                    essentially unchanged. It was popularised in the 1960s with 
                    but also the leap into electronic typesetting, remaining 
                    essentially unchanged. It was popularised in the 1960s with 
                    </p>
                </div>
                <div class="about__imageBox">
                    <img src="{% static 'img/bg2.jpg' %}" alt="#">
                </div>
               
            </div>
        </div>

        <div class="aboutsecond grid">
            <div class="aboutsecond__left">
                <h3>More about us</h3>
            </div>
            <div class="aboutsecond__right">
               <p>Contrary to popular belief, Lorem Ipsum is not simply </p>
            </div>
            <div class="aboutsecond__bottom">
                <p>Contrary to popular belief, Lorem Ipsum is not simply 
                   Contrary to popular belief, Lorem Ipsum is not simply
                   Contrary to popular belief, Lorem Ipsum is not simply
                   Contrary to popular belief, Lorem Ipsum is not simply
                </p>
                <p>Contrary to popular belief, Lorem Ipsum is not simply 
                    Contrary to popular belief, Lorem Ipsum is not simply
                    Contrary to popular belief, Lorem Ipsum is not simply
                    Contrary to popular belief, Lorem Ipsum is not simply
                </p>
             </div>
        </div>

        <div class="about__third grid">
            <div class="abthird__left">
                <h3>All About Me well briefly explained</h3>
                <p> Contrary to popular belief, Lorem Ipsum is not simply </p>
            </div>
            <div class="abthird__right">
                <p>Contrary to popular belief, Lorem Ipsum is not simply 
                    random text. It has roots in a piece of classical Latin 
                    literature from 45 BC, making it over 2000 years old. 
                </p>
            </div>
        </div>
        <div class="serviceBox grid">
            <div class="service_item flex">
                <div class="service_imgBox">
                    <img src="#" alt="#">
                </div>
                <div class="service__content">
                    <h5> <span>01</span> Heading</h5>
                    <p>
                        Contrary to popular belief, Lorem Ipsum is not simply
                        Contrary to popular belief, Lorem Ipsum is not simply
                    </p>
                </div>

            </div>
            <div class="service_item flex">
                <div class="service_imgBox">
                    <img src="#" alt="#">
                </div>
                <div class="service__content">
                    <h5> <span>02</span> Heading</h5>
                    <p>
                        Contrary to popular belief, Lorem Ipsum is not simply
                        Contrary to popular belief, Lorem Ipsum is not simply
                    </p>
                </div>

            </div>
            <div class="service_item flex">
                <div class="service_imgBox">
                    <img src="#" alt="#">
                </div>
                <div class="service__content">
                    <h5> <span>03</span> Heading</h5>
                    <p>
                        Contrary to popular belief, Lorem Ipsum is not simply
                        Contrary to popular belief, Lorem Ipsum is not simply
                    </p>
                </div>

            </div>
            <div class="service_item flex">
                <div class="service_imgBox">
                    <img src="#" alt="#">
                </div>
                <div class="service__content">
                    <h5> <span>04</span> Heading</h5>
                    <p>
                        Contrary to popular belief, Lorem Ipsum is not simply
                        Contrary to popular belief, Lorem Ipsum is not simply
                    </p>
                </div>

            </div>
            <div class="service_item flex">
                <div class="service_imgBox">
                    <img src="#" alt="#">
                </div>
                <div class="service__content">
                    <h5> <span>05</span> Heading</h5>
                    <p>
                        Contrary to popular belief, Lorem Ipsum is not simply
                        Contrary to popular belief, Lorem Ipsum is not simply
                    </p>
                </div>

            </div>
            <div class="service_item flex">
                <div class="service_imgBox">
                    <img src="#" alt="#">
                </div>
                <div class="service__content">
                    <h5> <span>06</span> Heading</h5>
                    <p>
                        Contrary to popular belief, Lorem Ipsum is not simply
                        Contrary to popular belief, Lorem Ipsum is not simply
                    </p>
                </div>

            </div>
        </div>
    </div>
</section>




 {% endblock %}