{% extends 'base.html' %}
{% load static %}
{% block content %}


<!--====================CATEGORY TOP SECTION ====================-->

<section class="category_sectionTop section" >
    <div class="category__containerTop container flex">
        <form class="serach_contentBox " action="#" method="post">
            {% csrf_token %}
            <h1>10,000+ Free HTML Templates</h1>
            <div class="serchBox ">
                <span> <input type="text" placeholder="Enter keywords"></span>

                <span><button type="submit"><i class="ri-search-2-line"></i></button></span>
            </div>
            <p>Best HTML Template Free Download. HTML Website Templates,<br>
                 Basic and Simple HTML Templates. Responsive and fully customizable 
                 with easy Drag-n-Drop HTML Website Builder
            </p>
        </form>
        
    </div>
    
</section>

<!--====================CATEGORY TOP SECTION ====================-->
<section class="category_section section" >
    <div class="categoryBox container-fluid">
        <div class="categeory_headBox ">
            <h2>Explore Our Category</h2>
        </div>
        <div class="wrapper">
            <button class="arrow prev"><i class="ri-arrow-left-s-line"></i></button>
            <button class="arrow next"><i class="ri-arrow-right-s-line"></i></button>
            <div class="card-wrapper">
                <div class="card-item">
                    <img src="{% static 'img/temp_2.jpg' %}" alt="">
                    <div class="card-info">
                        <a href="#" class="card-title">Cooked dish on gray bowl</a>
                      
                    </div>
                </div>
                <div class="card-item">
                    <img src="{% static 'img/temp_3.jpg' %}" alt="">
                    <div class="card-info">
                        <a href="#" class="card-title">Cooked dish on gray bowl</a>
                       
                    </div>
                </div>
                <div class="card-item">
                    <img src="{% static 'img/temp_4.jpg' %}" alt="">
                    <div class="card-info">
                        <a href="#" class="card-title">Cooked dish on gray bowl</a>
                        
                    </div>
                </div>
                <div class="card-item">
                    <img src="{% static 'img/temp_1.webp' %}" alt="">
                    <div class="card-info">
                        <a href="#" class="card-title">Cooked dish on gray bowl</a>
                       
                    </div>
                </div>
                <div class="card-item">
                    <img src="{% static 'img/temp_2.jpg' %}" alt="">
                    <div class="card-info">
                        <a href="#" class="card-title">Cooked dish on gray bowl</a>
                       
                    </div>
                </div>
                <div class="card-item">
                    <img src="{% static 'img/temp_3.jpg' %}" alt="">
                    <div class="card-info">
                        <a href="#" class="card-title">Cooked dish on gray bowl</a>
                       
                    </div>
                </div>
                <div class="card-item">
                    <img src="{% static 'img/temp_1.webp' %}" alt="">
                    <div class="card-info">
                        <a href="#" class="card-title">Cooked dish on gray bowl</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>


{% endblock %}