{% extends 'base.html' %}
{% load static %}
{% block content %}




<!--====================CATEGORY TOP SECTION ====================-->
<section class="category_section section" >
    <div class="categoryBox container-fluid">
        <div class="categeory_headBox ">
            <h2>HTML Template Categories</h2>
        </div>
        <div class="wrapper">
            <button class="arrow prev"><i class="ri-arrow-left-s-line"></i></button>
            <button class="arrow next"><i class="ri-arrow-right-s-line"></i></button>
            <div class="card-wrapper">
                <div class="card-item">
                    <div class="card-info">
                        <a href="#" class="card-title">Cooked dish on gray bowl</a>
                       
                    </div>
                    <img src="{% static 'img/temp_3.jpg' %}" alt="">
                   
                </div>
                <div class="card-item">
                    <div class="card-info">
                        <a href="#" class="card-title">Cooked dish on gray bowl</a>
                    </div>
                    <img src="{% static 'img/temp_1.webp' %}" alt="">
                    
                </div> <div class="card-item">
                    <div class="card-info">
                        <a href="#" class="card-title">Cooked dish on gray bowl</a>
                       
                    </div>
                    <img src="{% static 'img/temp_3.jpg' %}" alt="">
                   
                </div>
                <div class="card-item">
                    <div class="card-info">
                        <a href="#" class="card-title">Cooked dish on gray bowl</a>
                    </div>
                    <img src="{% static 'img/temp_1.webp' %}" alt="">
                    
                </div> <div class="card-item">
                    <div class="card-info">
                        <a href="#" class="card-title">Cooked dish on gray bowl</a>
                       
                    </div>
                    <img src="{% static 'img/temp_3.jpg' %}" alt="">
                   
                </div>
                <div class="card-item">
                    <div class="card-info">
                        <a href="#" class="card-title">Cooked dish on gray bowl</a>
                    </div>
                    <img src="{% static 'img/temp_1.webp' %}" alt="">
                    
                </div>
                <div class="card-item">
                    <div class="card-info">
                        <a href="#" class="card-title">Cooked dish on gray bowl</a>
                       
                    </div>
                    <img src="{% static 'img/temp_2.jpg' %}" alt="">
                    
                </div>
                <div class="card-item">
                    <div class="card-info">
                        <a href="#" class="card-title">Cooked dish on gray bowl</a>
                       
                    </div>
                    <img src="{% static 'img/temp_3.jpg' %}" alt="">
                   
                </div>
                <div class="card-item">
                    <div class="card-info">
                        <a href="#" class="card-title">Cooked dish on gray bowl</a>
                    </div>
                    <img src="{% static 'img/temp_1.webp' %}" alt="">
                    
                </div>
            </div>
        </div>
    </div>

</section>


<!--====================CATEGORY TEMPLATE SECTION ====================-->
<section class="category_Tempsection section">
    <div class="categoryBox container-fluid">
        <div class="wrapper">
            <h1 class="section-header">TEMPLATES</h1>
            <P class="section-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Quam assumenda nulla aspernatur enim ut, minima.
            </P>
            <div class="main-content">
               
                <div class="box">
                    <img src="{% static 'img/temp_2.jpg' %}" alt="">
                    <div class="img-text">
                        <div class="content">
                            <h2>Photoshop</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                                Quam assumenda nulla aspernatur enim ut, minima.
                            </p>
                            <div class="linkBox">
                                <a href="{% url 'TemplateView' %}">Demo</a>
                                <a href="{% url 'TemplateView' %}">Buy<i class="ri-shopping-cart-fill"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <img src="{% static 'img/temp_3.jpg' %}" alt="">
                    <div class="img-text">
                        <div class="content">
                            <h2>ui/ux design</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                                Quam assumenda nulla aspernatur enim ut, minima.
                            </p>
                            <div class="linkBox">
                                <a her="#">Demo</a>
                                <a her="#">Buy<i class="ri-shopping-cart-fill"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box">
                    <img src="{% static 'img/temp_4.jpg' %}" alt="">
                    <div class="img-text">
                        <div class="content">
                            <h2>Photography</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                                Quam assumenda nulla aspernatur enim ut, minima.
                            </p>
                            <div class="linkBox">
                                <a her="#">Demo</a>
                                <a her="#">Buy<i class="ri-shopping-cart-fill"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <img src="{% static 'img/temp_1.webp' %}" alt="">
                    <div class="img-text">
                        <div class="content">
                            <h2>crafting</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Quam assumenda nulla aspernatur enim ut, minima.
                            </p>
                            <div class="linkBox">
                                <a her="#">Demo</a>
                                <a her="#">Buy<i class="ri-shopping-cart-fill"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <img src="{% static 'img/temp_4.jpg' %}" alt="">
                    <div class="img-text">
                        <div class="content">
                            <h2>Marketing</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                                Quam assumenda nulla aspernatur enim ut, minima.
                            </p>
                            <div class="linkBox">
                                <a her="#">Demo</a>
                                <a her="#">Buy<i class="ri-shopping-cart-fill"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="loadMore">
            <span><i class="ri-arrow-down-s-line"></i></span>
        </div>
    </div>
</section>




{% endblock %}