{% extends 'base.html' %}
{% load static %}
{% block content %}

              <!--==================== TOP SECTION ====================-->

              <section class="Top_section" id="Top_Section" >

                <div class="home__container container-fluid grid" >
                    <div class="home__data" data-aos="fade-up"  data-aos-duration="2000" >
                        <h1 class="home__title">Welcome To <br> Altos Theme Hub    <br>Templates for any project </h1>
                        <p class="home__description1 ">
                            <span> Discover thousands of easy to customize themes, templates & CMS products,<br> made by world-class developers.</span> 
                            
                        </p>
                    </div>
                    <div class="home_image_bg">
                        <img src="{% static 'img/home_side_img.webp' %}" class="home__img thumbnail" alt="home_image">   
                    </div>
                   

                </div>
               

              </section>

              <!-- =================== TEMPLATE LIST =======================-->
              <section class="Templates_section section" >
                <div class="template__container container-fluid grid">
                   
                    <div class="template__listBox">
                        <div class="template_leftBox">
                            <h2>Best Website Builder Templates</h2>
                            <p>
                                Filler text is text that shares some characteristics of a real written text, but is random or otherwise generated. 
                                It may be used to display a sample of fonts, generate text for testing, or to spoof an e-mail spam filter.
                            </p>
                        </div>
                        
                       
                        <div class="template__card">
                            <div class="card_head template__list">
                                <img src="{% static 'img/temp_4.jpg' %}" alt="#"> 
                            </div>
                            <div class="card__content">
                                <h4>Heading</h4>
                                <p>Lorem Ipsum is simply dummy text of 
                                    the printing and typesetting industry. 
                                </p>
                                <div class="rating__box">
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                </div>
                                <div class="card__bottom">
                                    <p>$25</p>
                                    <div class="action__box">
                                        <a href="#" class="action_link"><button><i class="ri-shopping-cart-fill"></i></button></a>
                                        <a href="#" class="action_link"><button>Preview</button></a>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="template__card">
                            <div class="card_head template__list">
                                <img src="{% static 'img/temp_4.jpg' %}" alt="#"> 
                            </div>
                            <div class="card__content">
                                <h4>Heading</h4>
                                <p>Lorem Ipsum is simply dummy text of 
                                    the printing and typesetting industry. 
                                </p>
                                <div class="rating__box">
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                </div>
                                <div class="card__bottom">
                                    <p>$25</p>
                                    <div class="action__box">
                                        <a href="#" class="action_link"><button><i class="ri-shopping-cart-fill"></i></button></a>
                                        <a href="#" class="action_link"><button>Preview</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="template__card">
                            <div class="card_head template__list">
                                <img src="{% static 'img/temp_5.webp' %}" alt="#"> 
                            </div>
                            <div class="card__content">
                                <h4>Heading</h4>
                                <p>Lorem Ipsum is simply dummy text of 
                                    the printing and typesetting industry. 
                                </p>
                                <div class="rating__box">
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                </div>
                                <div class="card__bottom">
                                    <p>$25</p>
                                    <div class="action__box">
                                        <a href="#" class="action_link"><button><i class="ri-shopping-cart-fill"></i></button></a>
                                        <a href="#" class="action_link"><button>Preview</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="template__card">
                            <div class="card_head template__list">
                                <img src="{% static 'img/temp_4.jpg' %}" alt="#"> 
                            </div>
                            <div class="card__content">
                                <h4>Heading</h4>
                                <p>Lorem Ipsum is simply dummy text of 
                                    the printing and typesetting industry. 
                                </p>
                                <div class="rating__box">
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                </div>
                                <div class="card__bottom">
                                    <p>$25</p>
                                    <div class="action__box">
                                        <a href="#" class="action_link"><button><i class="ri-shopping-cart-fill"></i></button></a>
                                        <a href="#" class="action_link"><button>Preview</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="template__card">
                            <div class="card_head template__list">
                                <img src="{% static 'img/temp_6.jpg' %}" alt="#"> 
                            </div>
                            <div class="card__content">
                                <h4>Heading</h4>
                                <p>Lorem Ipsum is simply dummy text of 
                                    the printing and typesetting industry. 
                                </p>
                                <div class="rating__box">
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                </div>
                                <div class="card__bottom">
                                    <p>$25</p>
                                    <div class="action__box">
                                        <a href="#" class="action_link"><button><i class="ri-shopping-cart-fill"></i></button></a>
                                        <a href="#" class="action_link"><button>Preview</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="template__card">
                            <div class="card_head template__list">
                                <img src="{% static 'img/temp_7.webp' %}" alt="#"> 
                            </div>
                            <div class="card__content">
                                <h4>Heading</h4>
                                <p>Lorem Ipsum is simply dummy text of 
                                    the printing and typesetting industry. 
                                </p>
                                <div class="rating__box">
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                </div>
                                <div class="card__bottom">
                                    <p>$25</p>
                                    <div class="action__box">
                                        <a href="#" class="action_link"><button><i class="ri-shopping-cart-fill"></i></button></a>
                                        <a href="#" class="action_link"><button>Preview</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="template__content">
                        <h2>Build Your Website With Altos Theme Hub</h2>
                        <p>Lorem Ipsum is simply dummy text of 
                            the printing and typesetting industry. 
                            Lorem Ipsum has been the industry's 
                            standard dummy text ever since the 1500s, 
                            when an unknown printer took a galley of 
                            type and scrambled it to make 
                        </p>
                        <div class="template__btnBox">
                            <a href="#"><button class="buttons">GET  ALL TEMPLATES</button></a>
                            
                        </div>
                    </div>
                    
                </div>
                

              </section>

              <!--=====================BENIFITS ==========================-->
            
              <section class="benift__section section" >
                <div class="benifit__container container grid">
                    <div class="benift__top ">

                        <h1 class="benift__top__head">ALTOS THEME HUB</h1>
                        <P class="benift__top__content"> Lorem Ipsum is simply dummy text 
                            of the printing and typesetting industry. Lorem Ipsum has been 
                            the industry's standard dummy text ever since the 1500s, when 
                            an unknown printer took a galley of type and scrambled it to
                        </P>
                        <div class="benift__buttonbox">
                            <a href="#"><button class="benift__btn buttons">Discover Altos <i class="ri-arrow-right-s-line"></i></button></a>
                        </div>

                    </div>
                    <div class="benift__right">
                       
                            <img src="#" alt="#">
                       
                    </div>
                </div>
                <div class="container">
                    <div class="card__box">
                        <div class="card__item" data-aos="fade-up"  data-aos-duration="500">
                            <div class="icon__box">
                                <img src="{% static 'img/b1.png' %}" alt="icon_image">
                            </div>
                            <h3 class="card__benifit__head">Heading</h3>
                            <p class="card__benift__content">
                                Lorem Ipsum is simply dummy text of the printing and 
                                typesetting industry. Lorem Ipsum has been the industry's 
                                
                            </p>
                        </div>
                   
                   
                        <div class="card__item" data-aos="fade-up"  data-aos-duration="1000">
                            <div class="icon__box">
                                <img src="{% static 'img/b2.png' %}" alt="icon_image">
                            </div>
                            <h3 class="card__benifit__head">Heading</h3>
                            <p class="card__benift__content">
                                Lorem Ipsum is simply dummy text of the printing and 
                                typesetting industry. Lorem Ipsum has been the industry's 
                                
                            </p>
                        </div>
                   
                   
                        <div class="card__item" data-aos="fade-up"  data-aos-duration="2000">
                            <div class="icon__box">
                                <img src="{% static 'img/b3.png' %}" alt="icon_image">
                            </div>
                            <h3 class="card__benifit__head">Heading</h3>
                            <p class="card__benift__content">
                                Lorem Ipsum is simply dummy text of the printing and 
                                typesetting industry. Lorem Ipsum has been the industry's 
                                
                            </p>
                        </div>
                   
                        <div class="card__item" data-aos="fade-up"  data-aos-duration="3000">
                            <div class="icon__box">
                                <img src="{% static 'img/b4.png' %}" alt="icon_image">
                            </div>
                            <h3 class="card__benifit__head">Heading</h3>
                            <p class="card__benift__content">
                                Lorem Ipsum is simply dummy text of the printing and 
                                typesetting industry. Lorem Ipsum has been the industry's 
                                
                            </p>
                        </div>
                    </div>
                </div>
         
                    
              </section>

                 <!--=====================PRODUCT SECTION ==========================-->

                 <section class="product__section section" >
                    <div class="product__container container grid">
                        <div class="product__top " data-aos="fade-right"
                        data-aos-duration="1500"
                        data-aos-easing="ease-in-sine">
                            <h2>We’ll help you get started</h2>
                            <p>
                                it is a long established fact that a reader will 
                                be distracted by the readable content of a page when looking at its layout. 
                                The point of using Lorem Ipsum is that it has a more-or-less normal 
                                distribution of letters, as opposed to using 'Content here,
                            </p>
                            <div class="product__btnBox">
                                <a href="#"><button>LOOK OUR PRODUCT</button></a>
                            </div>
                        </div>
                        <div class="product__content">
                            <div class="product__box">
                                <div class="cardBox" data-aos="zoom-out-left" data-aos-duration="1500">
                                    <h1>01</h1>
                                    <div class="inner__cardbox">
                                        <h3>SEO</h3>
                                        <p>
                                            it is a long established fact that a reader will 
                                            be distracted by the readable content of a page when looking at its layout. 
                                            The point of using Lorem Ipsum is that it has a more-or-less normal 
                                            
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="product__box">
                                <div class="cardBox" data-aos="zoom-out-left" data-aos-duration="1400">
                                    <h1>02</h1>
                                    <div class="inner__cardbox">
                                        <h3>CMS</h3>
                                        <p>
                                            it is a long established fact that a reader will 
                                            be distracted by the readable content of a page when looking at its layout. 
                                            The point of using Lorem Ipsum is that it has a more-or-less normal 
                                        </p>
                                       
                                    </div>
                                </div>
                            </div>
                            <div class="product__box">
                                <div class="cardBox" data-aos="zoom-out-left" data-aos-duration="1300">
                                    <h1>03</h1>
                                    <div class="inner__cardbox">
                                        <h3>Web Development</h3>
                                        <p>
                                            it is a long established fact that a reader will 
                                            be distracted by the readable content of a page when looking at its layout. 
                                            The point of using Lorem Ipsum is that it has a more-or-less normal 
                                            
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   </section>


              <!--=====================CLIENTS SECTION ==========================-->
            
              <section class="client__section section" >
                <div class="client__container container grid">
                    <div class="client__top ">
                        <h3>Companies That Use Our Products</h3>
                        <p> Lorem Ipsum is simply dummy text 
                            of the printing and typesetting industry. Lorem Ipsum has been 
                            the industry's standard dummy text ever since the 1500s, when 
                            an unknown printer took a galley of type and scrambled it to
                        </p>
                    </div>
                    <div class="client__logoBox flex">
                        <div class="client__logo">
                            <img src="{% static 'img/l1.jpg' %}" alt="Client logo">
                        </div>
                        <div class="client__logo">
                            <img src="{% static 'img/l2.jpg' %}" alt="Client logo">
                        </div>
                        <div class="client__logo">
                            <img src="{% static 'img/l3.jpg' %}" alt="Client logo">
                        </div>
                        <div class="client__logo">
                            <img src="{% static 'img/l4.jpg' %}" alt="Client logo">
                        </div>
                        <div class="client__logo">
                            <img src="{% static 'img/l5.jpg' %}" alt="Client logo">
                        </div>
                        <div class="client__logo">
                            <img src="{% static 'img/l6.jpg' %}" alt="Client logo">
                        </div>
                        
                    </div>
                </div>
              </section>


            <!--=====================NEWS LETTER SECTION ==========================-->
              <section class="newsletter__section section" >
                    <div class="newsletter__container container flex">
                        <div class="newsletter__top ">
                            <h1>Connect Us By a Single Click !</h1>
                        </div>
                        <div class="newsletter__formBox">
                            <form action="#" method="post">
                                {% csrf_token %}

                                <div class="form__inputbox">
                                   
                                    <input type="email" placeholder="Enter a valid email id" required>
                                    <button type="submit">SEND US</button>
                                    
                                </div>
                            </form>
                        </div>
                    </div>
              </section>


              <section class="client__section section" >
                <div class="client__container container grid">
                    <div class="client__top ">
                        <h3>Our Happy Clients Says</h3>
                        <p> Lorem Ipsum is simply dummy text 
                            of the printing and typesetting industry. Lorem Ipsum has been 
                            the industry's standard dummy text ever since the 1500s, when 
                            an unknown printer took a galley of type and scrambled it to
                        </p>
                    </div>
                    
                    <div class="client__testmonial grid">
                        <div class="tesimonial__box"data-aos="fade-right"
                        data-aos-anchor="#example-anchor"
                        data-aos-offset="500"
                        data-aos-duration="500">
                            <div class="testimonial__imgBox">
                                <img src="{% static 'img/bth3.jpg' %}" alt="testimonial img">
                            </div>
                            <div class="testmonial__content">
                                <p>
                                    <i class="ri-double-quotes-l"></i>
                                        Lorem Ipsum is simply dummy text 
                                        of the printing and typesetting industry. Lorem Ipsum has been 
                                        the industry's standard dummy text ever since the 1500s 
                                    <i class="ri-double-quotes-r"></i>
                                </p>
                                <h5>JASS NORTON</h5>
                                <h6>DESIGNER</h6>
                            </div>
                        </div>
                        <div class="tesimonial__box" data-aos="fade-left"
                        data-aos-anchor="#example-anchor"
                        data-aos-offset="500"
                        data-aos-duration="500">
                            <div class="testimonial__imgBox">
                                <img src="#" alt="testimonial img">
                            </div>
                            <div class="testmonial__content">
                                <p>
                                    <i class="ri-double-quotes-l"></i>
                                    Lorem Ipsum is simply dummy text 
                                    of the printing and typesetting industry. Lorem Ipsum has been 
                                    the industry's standard dummy text ever since the 1500s 
                                <i class="ri-double-quotes-r"></i>
                                </p>
                                <h5>JASS NORTON</h5>
                                <h6>DESIGNER</h6>
                            </div>
                        </div>
                        <div class="tesimonial__box" data-aos="fade-right"
                        data-aos-anchor="#example-anchor"
                        data-aos-offset="500"
                        data-aos-duration="500">
                            <div class="testimonial__imgBox">
                                <img src="#" alt="testimonial img">
                            </div>
                            <div class="testmonial__content">
                                <p>
                                    <i class="ri-double-quotes-l"></i>
                                        Lorem Ipsum is simply dummy text 
                                        of the printing and typesetting industry. Lorem Ipsum has been 
                                        the industry's standard dummy text ever since the 1500s 
                                    <i class="ri-double-quotes-r"></i>
                           
                                </p>
                                <h5>JASS NORTON</h5>
                                <h6>DESIGNER</h6>
                            </div>
                        </div>
                    </div>
                </div>
              </section>

              
{% endblock %}
        