{% extends 'base.html' %}
{% load static %}
{% block content %}

              <!--==================== TOP SECTION ====================-->

              <section class="Top_section " id="Top_Section" >

                <div class="home__container parallax container-fluid flex " >
                    <div class="home__data"  >
                        <h1 class="home__title" data-aos="zoom-in" data-aos-duration="2500">Discover, Customize, and  Transform  </h1>
                        <p class="home__description1 "data-aos="zoom-in" data-aos-duration="2500">
                            <span> Discover a collection of professionally designed<br> website templates that empower your brand and
                                captivate your audience<br> making your online presence truly extraordinary.
                            </span> 
                            
                        </p>
                    </div>

                </div>
               
               
              </section>

              <!-- =================== TEMPLATE LIST =======================-->
              <section class="Templates_section section " >
                <div class="template__container container-fluid grid" >
                   
                    <div class="template__listBox">
                        <div class="template_leftBox">
                            <h2>Best Website Builder Templates</h2>
                            <p>
                                Filler text is text that shares some characteristics of a real written text, but is random or otherwise generated. 
                                It may be used to display a sample of fonts, generate text for testing, or to spoof an e-mail spam filter.
                            </p>
                        </div>
                        
                       
                        <div class="template__card">
                            <div class="card_head template__list">
                                <img src="{% static 'img/temp_4.jpg' %}" alt="#"> 
                            </div>
                            <div class="card__content">
                                <h4>Heading</h4>
                                <p>Lorem Ipsum is simply dummy text of 
                                    the printing and typesetting industry. 
                                </p>
                                <div class="rating__box">
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                </div>
                                <div class="card__bottom">
                                    <p>$25</p>
                                    <div class="action__box">
                                        <a href="#" class="action_link"><button><i class="ri-shopping-cart-fill"></i></button></a>
                                        <a href="#" class="action_link"><button>Preview</button></a>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="template__card">
                            <div class="card_head template__list">
                                <img src="{% static 'img/temp_4.jpg' %}" alt="#"> 
                            </div>
                            <div class="card__content">
                                <h4>Heading</h4>
                                <p>Lorem Ipsum is simply dummy text of 
                                    the printing and typesetting industry. 
                                </p>
                                <div class="rating__box">
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                </div>
                                <div class="card__bottom">
                                    <p>$25</p>
                                    <div class="action__box">
                                        <a href="#" class="action_link"><button><i class="ri-shopping-cart-fill"></i></button></a>
                                        <a href="#" class="action_link"><button>Preview</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="template__card">
                            <div class="card_head template__list">
                                <img src="{% static 'img/temp_5.webp' %}" alt="#"> 
                            </div>
                            <div class="card__content">
                                <h4>Heading</h4>
                                <p>Lorem Ipsum is simply dummy text of 
                                    the printing and typesetting industry. 
                                </p>
                                <div class="rating__box">
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                </div>
                                <div class="card__bottom">
                                    <p>$25</p>
                                    <div class="action__box">
                                        <a href="#" class="action_link"><button><i class="ri-shopping-cart-fill"></i></button></a>
                                        <a href="#" class="action_link"><button>Preview</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="template__card">
                            <div class="card_head template__list">
                                <img src="{% static 'img/temp_4.jpg' %}" alt="#"> 
                            </div>
                            <div class="card__content">
                                <h4>Heading</h4>
                                <p>Lorem Ipsum is simply dummy text of 
                                    the printing and typesetting industry. 
                                </p>
                                <div class="rating__box">
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                </div>
                                <div class="card__bottom">
                                    <p>$25</p>
                                    <div class="action__box">
                                        <a href="#" class="action_link"><button><i class="ri-shopping-cart-fill"></i></button></a>
                                        <a href="#" class="action_link"><button>Preview</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="template__card">
                            <div class="card_head template__list">
                                <img src="{% static 'img/temp_6.jpg' %}" alt="#"> 
                            </div>
                            <div class="card__content">
                                <h4>Heading</h4>
                                <p>Lorem Ipsum is simply dummy text of 
                                    the printing and typesetting industry. 
                                </p>
                                <div class="rating__box">
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                </div>
                                <div class="card__bottom">
                                    <p>$25</p>
                                    <div class="action__box">
                                        <a href="#" class="action_link"><button><i class="ri-shopping-cart-fill"></i></button></a>
                                        <a href="#" class="action_link"><button>Preview</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="template__card">
                            <div class="card_head template__list">
                                <img src="{% static 'img/temp_7.webp' %}" alt="#"> 
                            </div>
                            <div class="card__content">
                                <h4>Heading</h4>
                                <p>Lorem Ipsum is simply dummy text of 
                                    the printing and typesetting industry. 
                                </p>
                                <div class="rating__box">
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                </div>
                                <div class="card__bottom">
                                    <p>$25</p>
                                    <div class="action__box">
                                        <a href="#" class="action_link"><button><i class="ri-shopping-cart-fill"></i></button></a>
                                        <a href="#" class="action_link"><button>Preview</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="template__content">
                        <h2>Build Your Website With Altos Theme Hub</h2>
                        <p>Lorem Ipsum is simply dummy text of 
                            the printing and typesetting industry. 
                            Lorem Ipsum has been the industry's 
                            standard dummy text ever since the 1500s, 
                            when an unknown printer took a galley of 
                            type and scrambled it to make 
                        </p>
                        <div class="template__btnBox">
                            <a href="{% url 'categoryPage' %}"><button class="buttons">GET  ALL TEMPLATES</button></a>
                            
                        </div>
                    </div>
                    
                </div>
                

              </section>

              <!--=====================BENIFITS ==========================-->
            
              <section class="benift__section section " >
                <div class="benifit__container container grid">
                    <div class="benift__top ">

                        <h1 class="benift__top__head">Altos Theme Store</h1>
                        <P class="benift__top__content">
                            Welcome to Altos Theme Store, your ultimate destination for premium website themes. 
                            Discover a wide
                            range of beautifully designed and customizable themes that empower your online presence with style,
                            functionality, and unmatched quality.
                        </P>
                        <div class="benift__buttonbox">
                            <a href="{% url 'AboutPage' %}"><button class="benift__btn buttons">Discover Altos <i class="ri-arrow-right-s-line"></i></button></a>
                        </div>

                    </div>
                    <div class="benift__right ">
                       
                            <img src="{% static 'img/.jpg' %}" alt="#" class="parallax">
                       
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="card__box">
                        <div class="card__item" data-aos="fade-up"  data-aos-duration="500">
                            <div class="icon__box">
                                <img src="{% static 'img/b1.png' %}" alt="icon_image">
                            </div>
                            <h3 class="card__benifit__head">Heading</h3>
                            <p class="card__benift__content">
                                Our templates are built with the latest web development standards, 
                                ensuring compatibility with future updates and technologies. Stay ahead 
                                of the curve and future-proof your website with our cutting-edge templates.
                                
                            </p>
                           
                        </div>
                   
                   
                        <div class="card__item" data-aos="fade-up"  data-aos-duration="1000">
                            <div class="icon__box">
                                <img src="{% static 'img/b2.png' %}" alt="icon_image">
                            </div>
                            <h3 class="card__benifit__head">Heading</h3>
                            <p class="card__benift__content">
                                With our templates, you have full control over the customization process. 
                                Easily tailor your website to align with your brand's unique identity and 
                                stand out from the competition.
                                
                            </p>
                        </div>
                   
                   
                        <div class="card__item" data-aos="fade-up"  data-aos-duration="2000">
                            <div class="icon__box">
                                <img src="{% static 'img/b3.png' %}" alt="icon_image">
                            </div>
                            <h3 class="card__benifit__head">Heading</h3>
                            <p class="card__benift__content">
                                Our templates are optimized for a seamless user experience, 
                                ensuring intuitive navigation, fast loading times, and responsive design across all devices. 
                                Delight your visitors with a website that is both visually
                                appealing and user-friendly
                                
                            </p>
                        </div>
                   
                        <div class="card__item" data-aos="fade-up"  data-aos-duration="3000">
                            <div class="icon__box">
                                <img src="{% static 'img/b4.png' %}" alt="icon_image">
                            </div>
                            <h3 class="card__benifit__head">Heading</h3>
                            <p class="card__benift__content">
                                Our templates are meticulously crafted by top designers to ensure 
                                eye-catching aesthetics that instantly
                                captivate your audience and leave a lasting impression.

                            </p>
                        </div>
                    </div>
                </div>
         
                    
              </section>

                 <!--=====================PRODUCT SECTION ==========================-->

                 <section class="product__section section" >
                    <div class="product__container container grid">
                        <div class="product__top " data-aos="fade-right"
                        data-aos-duration="1500"
                        data-aos-easing="ease-in-sine">
                            <h2>We’ll help You get Started</h2>
                            <p>
                                it is a long established fact that a reader will 
                                be distracted by the readable content of a page when looking at its layout. 
                                The point of using Lorem Ipsum is that it has a more-or-less normal 
                                distribution of letters, as opposed to using 'Content here,
                            </p>
                            <div class="product__btnBox">
                                <a href="{% url 'ProductPage' %}"><button>LOOK OUR PRODUCT</button></a>
                            </div>
                        </div>
                        <div class="product__content">
                            <div class="product__box">
                                <div class="cardBox" data-aos="zoom-out-right" data-aos-duration="1500">
                                    <h1>01</h1>
                                    <div class="inner__cardbox">
                                        <h3>Heading</h3>
                                        <p>
                                            We Will Help You to Get Started with the Perfect Template. Choose from our vast collection of
                                            professionally designed templates, tailored to suit various industries and preferences. 
                                            
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="product__box">
                                <div class="cardBox" data-aos="zoom-out-right" data-aos-duration="1400">
                                    <h1>02</h1>
                                    <div class="inner__cardbox">
                                        <h3>Heading</h3>
                                        <p>
                                            We Will Help You to Get Started with the Perfect Template. Choose from our vast collection of
                                            professionally designed templates, tailored to suit various industries and preferences. 
                                        </p>
                                       
                                    </div>
                                </div>
                            </div>
                            <div class="product__box">
                                <div class="cardBox" data-aos="zoom-out-right" data-aos-duration="1300">
                                    <h1>03</h1>
                                    <div class="inner__cardbox">
                                        <h3>Heading</h3>
                                        <p>
                                            We Will Help You to Get Started with the Perfect Template. Choose from our vast collection of
                                            professionally designed templates, tailored to suit various industries and preferences.

                                            
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   </section>


            <!--=====================CLIENTS SECTION ==========================-->
            
              <section class="client__section section" >
                <div class="client__container container grid">
                    <div class="client__top ">
                        <h3>Companies That Use Our Products</h3>
                        <p> Lorem Ipsum is simply dummy text 
                            of the printing and typesetting industry. Lorem Ipsum has been 
                            the industry's standard dummy text ever since the 1500s, when 
                            an unknown printer took a galley of type and scrambled it to
                        </p>
                    </div>
                    <div class="client__logoBox flex">
                        <div class="client__logo">
                            <img src="{% static 'img/l1.jpg' %}" alt="Client logo">
                        </div>
                        <div class="client__logo">
                            <img src="{% static 'img/l2.jpg' %}" alt="Client logo">
                        </div>
                        <div class="client__logo">
                            <img src="{% static 'img/l3.jpg' %}" alt="Client logo">
                        </div>
                        <div class="client__logo">
                            <img src="{% static 'img/l4.jpg' %}" alt="Client logo">
                        </div>
                        <div class="client__logo">
                            <img src="{% static 'img/l5.jpg' %}" alt="Client logo">
                        </div>
                        <div class="client__logo">
                            <img src="{% static 'img/l6.jpg' %}" alt="Client logo">
                        </div>
                        
                    </div>
                </div>
              </section>

            
            <!--==================== PRICING BOTTOM SECTION ====================-->

            <section class="pricingTemplate_section section" >
                <div class="pricingTemplate__container container">
                
                    <div class="pricingTemplate__box ">
                        <div class="pricingTemplate__top ">
                            <h1>Start With Beautiful Website Templates</h1>
                            <p>Choose from 10,000+ awesome, mobile-friendly website templates for every kind of websites and blocks</p>
                        </div>
                        <div class="pricing__button">
                            <a href="{% url 'categoryPage' %}"><button>EXPLOR ALL TEMPLATE</button></a>
                        </div>
                        <div class="TemplateBox flex">
                            <div class="lefttemplate">
                                <img src="{% static 'img/product_temp1.jpg' %}" alt="#" data-aos="zoom-in-up"  data-aos-duration="1500">
                            </div>
                            <div class="righttemplate">
                                <img src="{% static 'img/product_temp2.png' %}" alt="#"  data-aos="zoom-in-up"  data-aos-duration="2000">
                            </div>
                        </div>
                    </div>
                </div>
            </section>

           
            <!--=====================TESTIMONIAL SECTION ==========================-->

              <section class="client__section section" >
                <div class="client__container container grid">
                    <div class="client__top ">
                        <h3>Hear What Our Customers Have to Say</h3>
                        <p> 
                            Discover the glowing testimonials from our delighted customers who have experienced exceptional
                            results with our products and services.

                        </p>
                    </div>
                    
                    <div class="client__testmonial grid">
                        <div class="tesimonial__box"data-aos="fade-up"
                        data-aos-anchor="#example-anchor"
                        data-aos-offset="500"
                        data-aos-duration="500">
                            <div class="testimonial__imgBox">
                                <img src="{% static 'img/bth3.jpg' %}" alt="testimonial img">
                            </div>
                            <div class="testmonial__content">
                                <p>
                                    <i class="ri-double-quotes-l"></i>
                                        Lorem Ipsum is simply dummy text 
                                        of the printing and typesetting industry. Lorem Ipsum has been 
                                        the industry's standard dummy text ever since the 1500s 
                                    <i class="ri-double-quotes-r"></i>
                                </p>
                                <h5>JASS NORTON</h5>
                                <h6>DESIGNER</h6>
                            </div>
                        </div>
                        <div class="tesimonial__box" data-aos="fade-up"
                        data-aos-anchor="#example-anchor"
                        data-aos-offset="500"
                        data-aos-duration="500">
                            <div class="testimonial__imgBox">
                                <img src="#" alt="testimonial img">
                            </div>
                            <div class="testmonial__content">
                                <p>
                                    <i class="ri-double-quotes-l"></i>
                                    Lorem Ipsum is simply dummy text 
                                    of the printing and typesetting industry. Lorem Ipsum has been 
                                    the industry's standard dummy text ever since the 1500s 
                                <i class="ri-double-quotes-r"></i>
                                </p>
                                <h5>JASS NORTON</h5>
                                <h6>DESIGNER</h6>
                            </div>
                        </div>
                        <div class="tesimonial__box" data-aos="fade-up"
                        data-aos-anchor="#example-anchor"
                        data-aos-offset="500"
                        data-aos-duration="500">
                            <div class="testimonial__imgBox">
                                <img src="#" alt="testimonial img">
                            </div>
                            <div class="testmonial__content">
                                <p>
                                    <i class="ri-double-quotes-l"></i>
                                        Lorem Ipsum is simply dummy text 
                                        of the printing and typesetting industry. Lorem Ipsum has been 
                                        the industry's standard dummy text ever since the 1500s 
                                    <i class="ri-double-quotes-r"></i>
                           
                                </p>
                                <h5>JASS NORTON</h5>
                                <h6>DESIGNER</h6>
                            </div>
                        </div>
                    </div>
                </div>
              </section>


            <!--=====================NEWS LETTER SECTION ==========================-->
            <section class="newsletter__section section" >
                <div class="newsletter__container container flex">
                    <div class="newsletter__top ">
                        <h1>Connect Us By a Single Click !</h1>
                        
                    </div>
                    <div class="newsletter__formBox">
                        <form action="#" method="post">
                            {% csrf_token %}

                            <div class="form__inputbox">
                               
                                <input type="email" placeholder="Enter a valid email id" required>
                                <button type="submit">SEND US</button>
                                
                            </div>
                        </form>
                    </div>
                </div>
            </section>


              
{% endblock %}
        