{% extends 'base.html' %}
{% load static %}
{% block content %}


 <!--==================== PRICING SECTION ====================-->

 <section class="pricing_section section" >
    <div class="pricing__container container">

        <div class="pricing__top ">
            <h2>Our Plan and Pricing</h1>
            <p>
                Contrary to popular belief, Lorem Ipsum is not simply 
                random text. It has roots in a piece of classical Latin 
                literature from 45 BC, making it over 2000 years old. 
            </p>
        </div>
       
        <div class="pricing__box">
            <div class="pricing__item">
                <div class="card__pricing">
                    
                    <div class="card__body">
                        <h1>$200</h1>
                        <P>Lorem Ipsum is simply dummy </P>
                        <ul>
                            <li>
                                <i class="ri-check-line"></i>
                                <span>Lorem Ipsum has been the industry's standard dummy</span>
                            </li>
                            <li>
                                <i class="ri-check-line"></i>
                                <span>Lorem Ipsum has been the industry's standard dummy</span>
                            </li>
                            <li>
                                <i class="ri-close-line"></i>
                                <span>Lorem Ipsum has been the industry's standard dummy</span>
                            </li>
                            <li>
                                <i class="ri-close-line"></i>
                                <span>Lorem Ipsum has been the industry's standard dummy</span>
                            </li>
                        </ul>
                        <div class="pricingButton">
                            <a href="#"><button>JOIN NOW </button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pricing__item">
                <div class="card__pricing">
                    
                    <div class="card__body">
                        <h1>$200</h1>
                        <P>Lorem Ipsum is simply dummy </P>
                        <ul>
                            <li>
                                <i class="ri-check-line"></i>
                                <span>Lorem Ipsum has been the industry's standard dummy</span>
                            </li>
                            <li>
                                <i class="ri-close-line"></i>
                                <span>Lorem Ipsum has been the industry's standard dummy</span>
                            </li>
                            <li>
                                <i class="ri-check-line"></i>
                                <span>Lorem Ipsum has been the industry's standard dummy</span>
                            </li>
                            <li>
                                <i class="ri-check-line"></i>
                                <span>Lorem Ipsum has been the industry's standard dummy</span>
                            </li>
                        </ul>
                        <div class="pricingButton">
                            <a href="#"><button>JOIN NOW </button></a>
                        </div>
                    </div>
                </div>
            </div> 

            <div class="pricing__item">
                <div class="card__pricing">
                   
                    <div class="card__body">
                        <h1>$200</h1>
                        <P>Lorem Ipsum is simply dummy </P>
                        <ul>
                            <li>
                                <i class="ri-check-line"></i>
                                <span>Lorem Ipsum has been the industry's standard dummy</span>
                            </li>
                            <li>
                                <i class="ri-check-line"></i>
                                <span>Lorem Ipsum has been the industry's standard dummy</span>
                            </li>
                            <li>
                                <i class="ri-check-line"></i>
                                <span>Lorem Ipsum has been the industry's standard dummy</span>
                            </li>
                            <li>
                                <i class="ri-check-line"></i>
                                <span>Lorem Ipsum has been the industry's standard dummy</span>
                            </li>
                        </ul>
                        <div class="pricingButton">
                            <a href="#"><button> JOIN NOW </button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
 </section>



 <!--==================== PRICING BOTTOM SECTION ====================-->

 <section class="pricingTemplate_section section" >
    <div class="pricingTemplate__container container">
       
        <div class="pricingTemplate__box ">
            <div class="pricingTemplate__top ">
                <h1>Start With Beautiful Website Templates</h1>
                <p>Choose from 10,000+ awesome, mobile-friendly website templates for every kind of websites and blocks</p>
            </div>
            <div class="pricing__button">
                <a href="{% url 'categoryPage' %}"><button>EXPLOR ALL TEMPLATE</button></a>
            </div>
            <div class="TemplateBox flex">
                <div class="lefttemplate">
                    <img src="{% static 'img/product_temp1.jpg' %}" alt="#" data-aos="zoom-in-up"  data-aos-duration="1500">
                </div>
                <div class="righttemplate">
                    <img src="{% static 'img/product_temp2.png' %}" alt="#"  data-aos="zoom-in-up"  data-aos-duration="2000">
                </div>
            </div>
        </div>
    </div>
 </section>

  
 <!--==================== PRICING BOTTOM SECTION ====================-->
 <section class="pricingBottom_section section" >
    <div class="pricingBottom__container container">
       
        <div class="pricingBottom__box flex">
            <div class="pricingBottom__top ">
                <h1>More About Product <br>And Service !</h1>
            </div>
            <div class="pricingBottom__content">
                <p data-aos="fade-up"
                data-aos-anchor-placement="top-bottom" data-aos-duration="1500">
                    Contrary to popular belief, Lorem Ipsum is not simply 
                    random text. It has roots in a piece of classical Latin 
                    literature from 45 BC, making it over 2000 years old. 
                    Richard McClintock, a Latin professor at Hampden-Sydney 
                    College in Virginia, looked up one of the more obscure 
                    Latin words, consectetur, from a Lorem Ipsum passage, 
                    and going through the cites of the word in classical 
                    literature, discovered the undoubtable source. Lorem 
                    Ipsum comes from sections 1.10.32 and 1.10.33 of "de 
                    Finibus Bonorum et Malorum" (The Extremes of Good and Evil) 
                    
                </p>
                
            </div>
            
        </div>

    </div>
 </section>





 {% endblock %}