{% extends 'base.html' %}
{% load static %}
{% block content %}


<!--==================== PRODUCT AND SERVICE SECTION ====================-->

<section class="product__service_section section">
    <div class="product__service_container container-fluid grid">
        <div class="product__service__content" >
           
                <h2> Our Product & Services </h2>
                <p>
                    Lorem Ipsum is simply dummy text of the printing 
                    and typesetting industry. Lorem Ipsum has been the 
                    industry's standard dummy text ever since the 1500s, 
                    when an unknown printer took a galley of type and 
                    scrambled it to make a type specimen book. 
                </p>  
        </div>
        
    </div>

        <div class="product__service__Box grid">
            <a href="#">
                <div class="ps__box">
                   
                    <div class="ps__content">
                        <h4>Heading</h4>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing 
                            and typesetting industry. Lorem Ipsum has been the 
                            industry's standard dummy.....  <i class="ri-box-1-fill"></i>
                        </p>
                       
                    </div>
                </div>
            </a>
           
            <a href="#">
                <div class="ps__box">
                    <div class="ps__content">
                        <h4>Heading</h4>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing 
                            and typesetting industry. Lorem Ipsum has been the 
                            industry's standard dummy..... 
                        </p>
                        
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="ps__box">
                   
                    <div class="ps__content">
                        <h4>Heading</h4>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing 
                            and typesetting industry. Lorem Ipsum has been the 
                            industry's standard dummy..... 
                        </p>
                        
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="ps__box">
                    
                    <div class="ps__content">
                        <h4>Heading</h4>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing 
                            and typesetting industry. Lorem Ipsum has been the 
                            industry's standard dummy..... 
                        </p>
                        
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="ps__box">
                   
                    <div class="ps__content">
                        <h4>Heading</h4>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing 
                            and typesetting industry. Lorem Ipsum has been the 
                            industry's standard dummy..... 
                        </p>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="ps__box">
                    
                    <div class="ps__content">
                        <h4>Heading</h4>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing 
                            and typesetting industry. Lorem Ipsum has been the 
                            industry's standard dummy..... 
                        </p>
                        
                    </div>
                </div>
            </a>


        </div>
        
    </div>
   
</section>




<!--===================== PRODUCT SERVICE CONTENT SECTION ==========================-->
<section class="PScontent__section section" >
    <div class="PScontent__container container ">
       
        <div class="pscontent__box flex">
            <div class="psimgBox">
             
            </div>
            <div class="pscontent">
                <div class="PScontent__top ">
                    <h1>More About Product And Service  !</h1>
                </div>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                    when an unknown printer took a galley of type and scrambled it to make a type 
                    specimen book. It has survived not only five centuries, but also the leap 
                    into electronic typesetting, remaining essentially unchanged. It was popularised 
                    in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
                    and more recently with desktop publishing software like Aldus PageMaker including 
                    versions of Lorem Ipsum.
                </p>
            </div>

        </div>
    </div>
    <div class="area" >

        <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
        </ul>
    </div >
</section>

<style>
  
</style>

{% endblock %}