{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
body{
    background-image: linear-gradient(0deg, rgba(29, 31, 32, 0.974), rgba(16, 26, 32, 0.974)), url('static/img/template_pagebg.jpg'); 
    background-size:100%;
    background-position:100%;
}

</style>

<!-- ================= TEMPLATE PAGE SECTION===============-->

<section class="templateView_section section">
    <div class="templateView__container container grid">
        <div class="contentBox">
            <h1>{{template.template_name}}</h1>
            <p>
                {{template.template_discription}}
            </p>
            <span><p>Category :<a href="{% url 'HomePage' %}">Home</a> | {{template.categori_id.categorie_name}}</p></span>
            
            <div class="video__Box" >
                <video id="video_display" src="{{template.video_file.url}}"  controls></video>
            </div>
        </div>
        <div class="rightBox">

            <form action="#">
                {% csrf_token %}
            </form>
        </div>
    </div>
</section>


<!--================ TEMPLATE LIST SECTION ================-->
<section class="category_Tempsection section">
    <div class="categoryBox container-fluid">
        <div class="wrapper">
            <h1 class="section-header">TEMPLATES</h1>
            <P class="section-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Quam assumenda nulla aspernatur enim ut, minima.
            </P>
            <div class="templateslist__Box">
              {% for temp in templates %}
              <a href="{% url 'TemplateView' temp.id %}" class="temp__card">
                
                  {% if temp.template_image %}
                  <img src="{{temp.template_image.url}}" alt="#">
                  {% endif %}
                 
      
              </a>
              {% endfor %}
            </div>
      
        </div>
        
    </div>
</section>


{% endblock %}